/* Overrides bootstrap styles where necessary...
 * Mostly reducing sizes and padding to make for a more compact page */

/* firefox renders some range inputs with a border, although chrome doesn't... */
#string_min,#string_max {
    border: none;
}
.form-control {
    padding: .0rem .75rem;
}
h1 {
    font-family:Baxter Sans Medium,Helvetica,Arial,sans-serif;
    font-weight:300;
    font-size:1.25rem;
    color: #fff;
    float:left:
    display:inline-block;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align:middle;
}
h2 {
    font-size: 1.5rem;
    line-height:40px;
    display:inline-block;
    vertical-align:middle;
}
.card {
    margin-bottom: 1rem;
}
.card-body {
    padding: 1em 1.25em 0.5em 1.25em; 
}
.bold {
    font-weight:bold;
}
.header {
    background-color:#4365e2;
    padding:1.25em;
    vertical-align: middle;
}
.nav-button {
    display:inline !important;
    margin:5px !important;
    float: right;
}
.btn-primary {
    background-color:#3c61cf !important;
}
.btn-primary:hover {
    background-color:#303680 !important;
}
.alert-danger {
    background-color:#f4cec3 !important;
}
.alert-success {
    background-color:#c4ebd0 !important;
}
.alert-primary {
    background-color:#4365e2 !important;
    color:#ffffff !important;
    font-weight: 200 !important;
}
.help {
    float:right;
    vertical-align:middle;
    cursor:pointer;
}
.help :hover {
    color:#4365e2;
}