<!doctype html>
<html lang="en">
  <head>
    <title>RNAit: Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/RNAit.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class='container'>
     <div class='row header'>
       <div class='col-md-9 '>
        <a href='/RNAit'>
            <img style='float:left;padding-left:15px' src="/images/RNAit2_150.png" width='75' alt="RNAit2"/>
        </a>
         <h1>RNAi target selection for Trypanosome genomes</h1>
         </div><!--col-md-10-->
       <div class='col-md-3'>
         <div><a href='http://www.dundee.ac.uk'><img src='/images/logo-white_150.png' width='150' alt='University of Dundee logo'/></a></div>
       </div> <!--col-md-2-->
      </div><!--row-->
      <p></p>
      <div class='row'>
        <div class='col-md-12'>
          <div class='card'>
            <div class='card-header '>
              <h3 class='card-title left'>An error occurred</h3>
              <div class="alert alert-danger">{% if type=='submission' %} There is a problem with the submitted data - {% else %} An error occurred: {% endif %} {{ error }}</div>
            </div>
            <div class='card-body'>
              <button onclick="window.history.back()" class='btn btn-primary'>Return</button>
            </div>
          </div> <!--card-->
          <br/>
        </div> <!--col-md-12-->
      </div> <!--row-->
    </div><!--container-->
  </body>
</html>